In [2]:
import sys
!{sys.executable} -m pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.2.2.tar.gz (220 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 220.8/220.8 kB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.6.1 in /opt/homebrew/Cellar/jupyterlab/3.4.5/libexec/lib/python3.10/site-packages (from wordcloud) (1.23.2)
Requirement already satisfied: pillow in /opt/homebrew/lib/python3.10/site-packages (from wordcloud) (9.2.0)
Requirement already satisfied: matplotlib in /opt/homebrew/lib/python3.10/site-packages (from wordcloud) (3.5.3)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/Cellar/jupyterlab/3.4.5/libexec/lib/python3.10/site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib->wordcloud) (4.37.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/homebrew/Cellar/jupyterlab/3.4.5/libexec/lib/python3.10/site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/Cellar/jupyterlab/3.4.5/libexec/lib/python3.10/site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/six/1.16.0_2/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py) ... done
  Created wheel for wordcloud: filename=wordcloud-1.8.2.2-cp310-cp310-macosx_12_0_arm64.whl size=154545 sha256=3357fedce2ca98b04195a0cff7a5a129777736b2b27c4ab346976c0cd0d4c0b6
  Stored in directory: /Users/kendra/Library/Caches/pip/wheels/30/52/73/36458d38e3c533678a3043949ad72658025d8e89d942439d49
Successfully built wordcloud
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.2.2

In [4]:
import pandas as pd
import json

In [42]:
data = json.load(open('json.json'))

In [70]:
#first tweet data in entirety
data['data'][0]

{'entities': {'hashtags': [{'start': 131, 'end': 142, 'tag': 'amquerying'},
   {'start': 143, 'end': 160, 'tag': 'WritingCommunity'},
   {'start': 161, 'end': 178, 'tag': 'amwritingfiction'}],
  'mentions': [{'start': 0,
    'end': 14,
    'username': 'AuthorJFuller',
    'id': '448329810'}]},
 'author_id': '1320819574317715463',
 'text': '@AuthorJFuller Preparing to query and feeling anxious. Fortunately the local grocery is already stocking pumpkin spice everything. #amquerying #WritingCommunity #amwritingfiction',
 'public_metrics': {'retweet_count': 0,
  'reply_count': 0,
  'like_count': 0,
  'quote_count': 0},
 'id': '1562107241460891649'}

In [69]:
#first user info - will need to use id: for primary/foreign key to relate to tweet
data['includes']['users'][0]

{'id': '1320819574317715463',
 'username': 'KZimmerauthor',
 'created_at': '2020-10-26T20:08:29.000Z',
 'public_metrics': {'followers_count': 58,
  'following_count': 138,
  'tweet_count': 76,
  'listed_count': 0},
 'name': 'Kelly Zimmer',
 'location': 'Florida USA'}

In [75]:
details = data['includes']['users']
testDF = pd.DataFrame(details)
testDF.head()

,id,username,created_at,public_metrics,name,location
0,1320819574317715463,KZimmerauthor,2020-10-26T20:08:29.000Z,"{'followers_count': 58, 'following_count': 138...",Kelly Zimmer,Florida USA
1,715742118589947904,picorimori,2016-04-01T03:26:33.000Z,"{'followers_count': 157, 'following_count': 13...",ningüêÄ,NaN
2,1520531882886123520,FazeMadden,2022-04-30T22:33:57.000Z,"{'followers_count': 5, 'following_count': 70, ...",Nestor Toledo,NaN
3,2174166952,JonnyOlivares73,2013-11-09T06:57:07.000Z,"{'followers_count': 405, 'following_count': 49...",Jonathan,"Framingham, MA"
4,172536397,AKyleW,2010-07-29T23:31:50.000Z,"{'followers_count': 161, 'following_count': 77...",Kyle Wagner,"Bradenton, FL"

In [79]:
for user in data['includes']:
    author_id = data['includes']['users'][0]['id']
    username = data['includes']['users'][0]['username']
    created_at = data['includes']['users'][0]['created_at']
    followers_count = data['includes']['users'][0]['public_metrics']['followers_count']
    name = data['includes']['users'][0]['name']
    location = data['includes']['users'][0]['location']
    
    remix = [author_id, username, created_at, followers_count, name, location]

In [80]:
print(remix)

['1320819574317715463', 'KZimmerauthor', '2020-10-26T20:08:29.000Z', 58, 'Kelly Zimmer', 'Florida USA']

In [81]:
testDF.to_csv('test_csv_twitter.csv')

In [82]:
please_work = pd.read_csv('test_csv_twitter.csv')

In [83]:
please_work.head()

,Unnamed: 0,id,username,created_at,public_metrics,name,location
0,0,1320819574317715463,KZimmerauthor,2020-10-26T20:08:29.000Z,"{'followers_count': 58, 'following_count': 138...",Kelly Zimmer,Florida USA
1,1,715742118589947904,picorimori,2016-04-01T03:26:33.000Z,"{'followers_count': 157, 'following_count': 13...",ningüêÄ,NaN
2,2,1520531882886123520,FazeMadden,2022-04-30T22:33:57.000Z,"{'followers_count': 5, 'following_count': 70, ...",Nestor Toledo,NaN
3,3,2174166952,JonnyOlivares73,2013-11-09T06:57:07.000Z,"{'followers_count': 405, 'following_count': 49...",Jonathan,"Framingham, MA"
4,4,172536397,AKyleW,2010-07-29T23:31:50.000Z,"{'followers_count': 161, 'following_count': 77...",Kyle Wagner,"Bradenton, FL"

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns
import re
import collections
from wordcloud import WordCloud

In [5]:


#Reading the raw data collected from the Twitter Streaming API using Tweepy. 
tweets_data = []
tweets_data_path = 'json.json'
tweets_file = open(tweets_data_path, "r")
for line in tweets_file:
    try:
        tweet = json.loads(line)
        tweets_data.append(tweet)
    except:
        continue

In [6]:


#Error codes from the Twitter API can be inside the .txt document, take them off
tweets_data = [x for x in tweets_data if not isinstance(x, int)]

In [7]:


print("The total number of Tweets is:",len(tweets_data))

The total number of Tweets is: 1